.navbar {
    display: none !important;
    width: 100%;
    height: 50px;
}

.user-img {
    font-size: 25px;
    border: 1px solid black !important;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

.nav-div {
    width: 100% !important;
}

.nav-icon {
    width: 100% !important;
}

.fa-user {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    font-size: 22px;
    margin-right: 20px;
}

.nav-login-btn a,
.nav-sell-btn a {
    text-decoration: none;
    color: black;
}

.header-top {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 30px;
    word-spacing: 5px;
    background-color: #f7f8f8;
    width: 100%;
}

.fa-car,
.fa-building {
    font-size: 15px;
    background-color: white;
    color: black;
    margin-left: 30px;
}

.header-a>a,
.header-a2>a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}


.header {
    display: flex;
    justify-content: space-around;
    height: 80px;
    padding: 10px 10px 10px 0;
    background-color: #f7f8f8;
    width: 100%;
}


.sel-div {
    width: 20%;
}

.btn-div {
    width: 20%;
    display: flex;
}

#inp {
    width: 100%;
    height: 50px;
    border: 2px solid black;
    padding-left: 30px;
    border-radius: 5px;
}

.icon {
    position: relative;
    top: -38px;
    left: 10px;
}

.fa-magnifying-glass {
    width: 20px;
    height: 20px;

}

.parent-inp {
    width: 40%;
    display: flex;
}

#input {
    width: 90%;
    height: 50px;
    border: 2px solid black;
    padding-left: 20px;
    border-radius: 5px;
}

.icon-2 {
    border: 1px solid black;
    height: 50px;
    width: 10%;
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    right: 51px;
}

#logIn-button {

    border: 1px solid black;
    position: relative;
    right: 20px;
    width: 80px;
    height: 50px;
    border-radius: 10px;
}

#logIn-button:hover {
    background-color: #002F34;
    color: white;
    opacity: 1;

}
.dropdown-menu{
    width: 250px;
}


.sell {
    width: 110px;
    height: 50px;
    margin-left: 10px;
    border: 5px solid black;
    border-radius: 20px;
    border-top-color: aqua;
    border-right-color: yellow;
    border-left-color: blue;
}




/* .user button a:hover{
    color: white;

} */
/* ......................................Nav-Bar........................................ */
.nav-bar {
    margin-top: 10px;
}

.nav-bar>ul {
    display: flex;
}

.Categories {
    margin: 15px 15px 15px -12px;
}

ul>li {
    list-style: none;
    margin: 15px;
}

ul>li:hover {
    color: skyblue;
    cursor: pointer;
}

.select {
    border: none;
    font-weight: bold;

}

@media only screen and (min-width: 426px) and (max-width: 768px){
    .navbar {
        display: block !important;
    }

    .nav-login-btn,
    .nav-sell-btn {
        width: 100%;
        font-size: 23px;
        height: 60px !important;
        margin-top: 10px;
    }

    .nav-login-btn a,
    .nav-sell-btn a {
        text-decoration: none;
        color: black;
    }

    .off {
        height: 90px;
        border-bottom: 1px solid black !important;
    }

    .header-top {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 0;
    }

    .user {
        position: absolute;
        left: 5%;
        top: 0%;
        width: 80%;
    }

    .user p {
        width: 80% !important;
    }

    .user a button {
        border: none;
    }



    .hidden,
    .sel-div,
    .btn-div,
    .sell,
    .ul,
    ul>li,
    .olx-img {
        display: none;
    }

    .header {
        width: 100%;
        display: flex;
        padding: 0;
    }

    .parent-inp {
        width: 90%;
        justify-content: center;
    }

    #input {
        width: 80%;
        height: 60px;
        font-size: 20px;
        padding-left: 80px;
        border-radius: 10px;
    }

    .icon-2 {
        /* position: relative;
        left: 619px;
        bottom: 70px; */
        height: 60px;
    }

    /* .icon-2{
        height: 70px;
        position: absolute;
        top: 65px;
        right: 30px;
     } */

    .search-bar {
        height: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 425px){
    .navbar {
        display: block !important;
    }

    .nav-div {
        width: 90% !important;
    }

    .nav-icon {
        width: 80% !important;
    }

    .nav-login-btn,
    .nav-sell-btn {
        width: 100%;
        padding-left: 20px;
        font-size: 18px;
        height: 60px !important;
        margin-top: 10px;
    }

    .nav-login-btn a,
    .nav-sell-btn a {
        text-decoration: none;
        color: black;
    }

    .off {
        height: 90px;
        border-bottom: 1px solid black !important;
    }

    .offcanvas {
        width: 90% !important;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 40px;
    }

    .user {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 70%;
    }

    .user p {
        margin-top: 10px;
        font-size: 18px;
        width: 80% !important;
    }

    .user a button {
        border: none;
        width: 80px;
        font-size: 15px !important;
    }

    .hidden,
    #inp,
    .sel-div,
    .btn-div,
    .sell,
    .ul,
    ul>li,
    .olx-img {
        display: none;
    }

    .header {
        display: flex;
        padding: 0;
    }

    .parent-inp {
        width: 100%;
        padding-left: 20px;
    }

    #input {
        display: inline-block;
        width: 100%;
        height: 60px;
        font-size: 17px;
        padding-left: 20px;
        border-radius: 10px;

    }

    .icon-2 {
        width: 15%;
        height: 60px;
        margin-left: 10px;
    }

    .carousel-inner {
        height: 180px;
    }

    .carousel-inner .carousel-item img {
        height: 100%;
    }

    .search-bar {
        height: 100%;
    }

}

@media only screen and (max-width: 320px){
    .parent-inp{
        padding-left: 30px;
    }
    .icon-2 {
        margin-left: 13px;
    }
}


