
.Categories {
    margin: 15px 15px 15px -12px;
}


.select {
    border: none;
    font-weight: bold;

}

.carousel-item {
    height: 100%;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 40px;
}

.same {
    text-align: center;
}

.img {
    width: 100px;
    margin: 20px;
}

p {
    font-weight: bold;
    width: 100px;
}

@media only screen and (max-width: 768px){
    .items{
       
        display: flex;
        flex-wrap: nowrap;
        overflow-y: scroll;
        padding: 0;

     }
     .same{
        height: 200px;
        margin-left: 30px;
     }
     .same > img , p{
        font-size: 15px;
        width: 50px !important;
        height: 50px !important;
     }
}