
.Categories {
    margin: 15px 15px 15px -12px;
}


.select {
    border: none;
    font-weight: bold;

}

.carousel-item {
    height: 100%;
}

.items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 40px;
}

.same {
    text-align: center;
}

.img {
    width: 100px;
    margin: 20px;
}

p {
    font-weight: bold;
    width: 100px;
}