.footer {
    display: flex;
    justify-content: space-around;
    border: 1px solid lightgray;
    height: 200px;
    background-color: rgb(233, 231, 231);
    padding: 10px;
}

.footer-li-heading>h3 {
    font-size: 18px !important;
    margin-left: -15px;
    list-style: none;
    cursor: pointer;
}
.footer-li-heading{
    list-style: none;
}
.footer-li {
    font-size: 13px !important;
    margin: 2px;
    list-style: none;
    cursor: pointer;
}

.follow {
    font-size: 16px;
    margin-top: 13px;
}
.end {
    border: 1px solid lightgrey;
    height: 50px;
    background-color: hsla(203, 73%, 14%, 0.796);
    display: flex;
    justify-content: flex-end;
    color: white;
}

.last-para {
    margin-top: 10px;
    font-size: 15px;
    width: 350px;
}

.acc {
    display: none;
}