.post{
    width: 100%;
}
.hero{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2px;
    margin: auto;
    margin-bottom: 5%;
    box-shadow: 10px 10px 20px lightgray;

}
.hero span{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}
.hero span img{
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}
.hero h1{
    font-size: 25px;
    align-self: flex-start;
    font-weight: bold;
}

.desc{
    font-size: 15px;
    align-self: flex-start;
    margin-left: 5px;
    text-align: left;


}
.gallery{
    width: 100%;
    margin: auto;
}

.hero-main i{
    margin: 10px;
    font-size: 20px;
    width: 25%;
    cursor: pointer;
}
.hero-main i:hover{
    color: skyblue;
    background-color: lightgray;
}
@media screen and (min-width: 425px) {
    /* .hero-main {
        display: flex;
        flex-direction: row;
    } */
}

