.post{
    width: 100%;
    height: 100%;
    background-color: #F0F2F5;
    padding: 10px;
}
.hero{
    width: 40%;
    height: auto;
    display: flex;
    background-color: white;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 10px 10px 20px lightgray;

}
.inner{
    width: 100%;
    padding: 5px;
}
.hero span{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.hero span img{
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}
.hero span h1{
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0 0 5px;
}

.desc{
    font-size: 17px;
    align-self: flex-start;
    text-align: left;
    margin: 10px 0 10px 10px;
}
.gallery{
    width: 100%;
    padding: 0%;
}
.reactIcons{
    border-top: 1px solid lightgray;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    display: flex;
}

.reactIcons p{
    width: 65%;
    text-align: left;
    margin: 0 10px 0 10px ;
    padding: 2px;
}
.reactIcons .fa-thumbs-up{
    font-size: 10px !important;
    border-radius: 50%;
    padding: 10px;
    background-color: #0491FD;
    color: white;    
}
.fa-heart{
    font-size: 10px;
    border-radius: 50%;
    padding: 10px;
    background-color: #E93745;
    color: white;    
}
.reactIcons .fa-comment , .fa-share{
    font-size: 20px;
    margin: 0 7px 0 7px;
}
.hero-main{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.hero-main span{
    display: inline-block;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.hero-main i{
    font-size: 23px;
    width: 20%;
    margin-right: 5px;
    height: 100%;
    cursor: pointer;
}
.hero-main span:hover{
    background-color: #F0F2F5;
}

.emojis-container{
    border: 1px solid black;
    width: 70%;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 50px;
    bottom: 50px;
  
  }
  .emojis{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

  }
  .emojis img{
    border-radius: 50%;
    padding: 5px;
    width: 50px;
  }
  .emojis img:hover{
    background-color: #F0F2F5;
  }
@media screen and (max-width: 768px) {
    .hero{
        width: 60%;
    }
}
@media screen and (max-width: 425px) {
    .hero{
        width: 90%;
    }
    .reactIcons .fa-thumbs-up{
        font-size: 20px;
        height: 40px;
        
    }
    .fa-heart{
        font-size: 15px ;
        height: 40px;
    }
    .hero-main i{
        margin-right: 15px;
    }
}
@media screen and (max-width: 320px) {
    .hero{
        width: 100%;
    }
}
