.btn{
    padding: 18px 12px;
    border-radius: 10px;
}
.like-button {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
  }
  
  .emoji-container {
    display: flex;
    position: absolute;
    top: -25px;
    left: 20px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .emoji-container span {
    margin-right: 5px;
  }