.navbar {
    width: 100%;
    height: 60px;
    display: flex;
}

.input {
    display: inline-block;
    width: 80%;
}

.input input {
    border-radius: 20px;
    width: 80%;
    background-color: #F0F2F5;
    height: 45px;
    font-size: 17px;
    padding-left: 50px;
    margin: 4px 40px 0 0;
    border: none;
}

.input i {
    border: none;
    position: relative;
    left: 35px;
    font-size: 17px;
}

.left {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

.center {
    width: 48%;
}

.center span {
    width: 100%;
    height: 100%;
    display: flex;

}

.center i {
    font-size: 25px;
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.center i:hover {
    background-color: #F0F2F5;
}

.right {
    width: 20%;
}

.right span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.right i {
    font-size: 22px;
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 100%;
    border-radius: 50%;
    margin-right: 5px;
}
@media screen and (max-width: 1024px){
    .input input {
        margin: 8px 10px 0 0;

    }

}
@media screen and (max-width: 768px) {
    .input input {
        margin: 8px 10px 0 0;

    }
  .left{
    width: 40%;
  }
  .input input{
    padding-left: 40px;
  }
  .right i{
    width: 30%;
  }
}

@media screen and (max-width: 425px) {

    /* .navbar{
        border: 1px solid black;
    } */
    .input {
        width: 90% !important;
    }

    .input input {
        margin: 8px 10px 0 0;
        width: 85%;
    }

    .center {
        display: none;
    }

    .left {
        width: 70%;
    }

    .right {
        width: 30%;
    }

    .right i{
    width: 30%;
    }



}
