.navbar{
    width: 100%;
    height: 60px;
    display: flex;
}
.input{
    width: 80%;
    padding-top: 5px;
    
}
.input input{
    border-radius: 20px;
    width: 80%;
    background-color: #F0F2F5;
    height: 45px;
    font-size: 17px;
    padding-left: 50px;
    margin: 4px 40px 0 0;
    
}
.input i{
    border: none;
    position: relative;
    left: 35px;
    font-size: 17px;
}
.left{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}
.center{
    width: 48%;
}
.center span{
    width: 100%;
    height: 100%; 
    display: flex;

}
.center i {
    font-size: 25px;
    width: 18%;
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.center i:hover{
    background-color: #F0F2F5;
}
.right{
    width: 20%;
}
.right span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.right i {
    font-size: 22px;
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 100%;
    border-radius: 50%;
    margin-right: 5px;
}